{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=true">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link href="/static/css/styles.css" rel="stylesheet">

    <title>home</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% include 'home_site/navbar.html' %}

    <main role="main" class="container" id="splash-page-cards">
      
      <div class="card" id="splash-card-content">
          <div class="row g-0">
            <div class="col-md-4">
              <figure class="figure"></figure>
                <img src="/static/images/gameplay.png" 
                          width="360" 
                          height="450">
            </figure>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-light h1"> Welcome to Seejah Online! </h5>
                <p class="card-text text-light my-5 h3">
                  Hone your skills as you maneuver your pieces, outwit your opponents, and immerse yourself in a game once played by pharaohs.
                <p class="card-text text-light my-5 h3">
                Start your journey today and be part of an ancient tradition!</p>
                </div>
                <div class="container">
                  <button type="button" class="btn" id="play-online"> 
                    Play Online
                    <small>Play with someone at your level</small>
                  </button>
                  <button type="button" class="btn" id="play-computer"> 
                    Play Computer
                    <small>Play vs customizable training bots </small>
                  </button>
                </div>
            </div>
          </div>
        </div>

      

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/css/popper.min.js"></script>
    <script src="/static/css/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</head>
</html
