body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-flow: column;
  }

.tile {
    z-index: 0;
    border: 1px solid #C4AA88;
    padding: 40px;
    text-align: center;
    background-color: #f2d2a9;
    background-image: url(./sandpaper.png);
    &.tile:hover {
        background-color: #CD8A33;
    }
}

.token {
    z-index: 1;
    padding: 40px;
    background-color: #000000;
    border-radius: 50%;
}

.tiles-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: #f2d2a9;
    background-image: url(./sandpaper.png);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  