body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-flow: column;
  }

.empty-space {
    position: relative;
    padding: inherit;
}

.tile {
    z-index: 0;
    padding-top: 100%;
    position: relative;
    border: 1px solid #85483876;
    padding: inherit;
    text-align: center;
    background-image: url(./sandpaper.png);
    background-color: #CDC3AC62;
    &.highlight-selected {
        background-color: #932009;
    }
    &.highlight-neighbour {
        background-color: #B74736;

    }
}

.token {
    position: relative;
    padding: inherit;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 3px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &.light {
        background-color: #2F6DD9EA;
    }
    &.dark {
        background-color: #AF1217AE;
    }
}

.tiles-grid {
    display: inline-grid;
    position: relative;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(10, auto);
    background-color: #edc9AF;
    border-color: #edc9AF;
    background-image: url(./sandpaper.png);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  